header {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  margin-bottom: 3rem;
}

body {
  background-color: #3c5aa6;
  font-family: "Poppins";
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}
body #rubrik {
  color: #ffcb05;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
  font-family: "Press Start 2P", system-ui;
}
body #containerWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  max-width: 100%;
  max-height: 100%;
}

#containerDropDown1,
#containerDropDown2 {
  margin: 0 10px;
  padding: 0;
}
#containerDropDown1 #pokemon1,
#containerDropDown1 #pokemon2,
#containerDropDown2 #pokemon1,
#containerDropDown2 #pokemon2 {
  font-size: 1rem;
  background-color: #4574eb;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: solid 2px #ffcb05;
}
#containerDropDown1 #pokemon1:hover,
#containerDropDown1 #pokemon2:hover,
#containerDropDown2 #pokemon1:hover,
#containerDropDown2 #pokemon2:hover {
  background-color: #356af1;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#containerDropDown1 #selectedPokemon1,
#containerDropDown1 #selectedPokemon2,
#containerDropDown2 #selectedPokemon1,
#containerDropDown2 #selectedPokemon2 {
  background-color: #4574eb;
  border-radius: 4px;
}
#containerDropDown1 #selectedPokemon1 h2,
#containerDropDown1 #selectedPokemon2 h2,
#containerDropDown2 #selectedPokemon1 h2,
#containerDropDown2 #selectedPokemon2 h2 {
  padding: 10px;
}
#containerDropDown1 #selectedPokemon1 ul,
#containerDropDown1 #selectedPokemon2 ul,
#containerDropDown2 #selectedPokemon1 ul,
#containerDropDown2 #selectedPokemon2 ul {
  padding-left: 2;
  list-style-type: none;
}

#comparementContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#comparementContainer img {
  margin-top: 5px;
  background-color: rgba(255, 205, 5, 0.631372549);
  border-radius: 50%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  background-color: rgba(255, 205, 5, 0.631372549);
  font-weight: 600;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px;
}
button:active {
  background-color: #ffcb05;
  font-weight: 700;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

span {
  color: rgb(10, 233, 10);
}

#comparementstats {
  border-radius: 4px;
  background-color: #4574eb;
  margin-top: 25px;
}
#comparementstats p {
  font-weight: 600;
  margin: 10px;
}

#fightWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: left;
  margin-top: 50px;
}
#fightWrapper #fightMessageRight,
#fightWrapper #fightMessageLeft {
  background-color: rgba(255, 205, 5, 0.631372549);
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  max-height: auto;
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 250px;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}
#fightWrapper #fightMessageRight:hover,
#fightWrapper #fightMessageLeft:hover {
  background-color: #ffcb05;
}
#fightWrapper #fightMessageRight p,
#fightWrapper #fightMessageLeft p {
  word-wrap: break-word;
}
#fightWrapper #fightMessageRight #fightH1Left,
#fightWrapper #fightMessageLeft #fightH1Left {
  font-family: "Press Start 2P", system-ui;
  font-size: 1rem;
}
#fightWrapper #fightMessageRight #fightH1Right,
#fightWrapper #fightMessageLeft #fightH1Right {
  font-family: "Press Start 2P", system-ui;
  font-size: 1rem;
}
#fightWrapper #fightMessageRight::-webkit-scrollbar-thumb,
#fightWrapper #fightMessageLeft::-webkit-scrollbar-thumb {
  background-color: rgba(146, 118, 5, 0.631372549);
  border-radius: 5px;
}
#fightWrapper #fightMessageRight::-webkit-scrollbar-thumb:hover,
#fightWrapper #fightMessageLeft::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
#fightWrapper #fightMessageRight::-webkit-scrollbar,
#fightWrapper #fightMessageLeft::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(146, 118, 5, 0.631372549);
}
#fightWrapper #fightMessageRight::-webkit-scrollbar-track,
#fightWrapper #fightMessageLeft::-webkit-scrollbar-track {
  width: 10px;
}
#fightWrapper #fightMessageMiddle {
  background-color: #4574eb;
  font-family: "Press Start 2P", system-ui;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  text-align: center;
  margin: 0.5rem;
  max-height: 30rem;
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 250px;
}
#fightWrapper #fightMessageMiddle p {
  font-family: "Poppins";
  text-align: center;
}
#fightWrapper #fightMessageMiddle img {
  margin-top: 5px;
  background-color: rgba(255, 205, 5, 0.631372549);
  border-radius: 50%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}/*# sourceMappingURL=style.css.map */