//Variabler
//Colors
$backroundColor: #3c5aa6;
$rubrikFontColor: #ffcb05;
$BGDropDownMenu: #4574eb;
$BGColorHoverDropDownMenu: #356af1;
$bgColorCompareBtn: #ffcd05a1;
$bgColorHoverCompareBtn: #ffcb05;
$bgColorComparementDiv: #4574eb;
$bgColofightMessageMiddle: #4574eb;
$bgColofightMessageLeftAndRight:#ffcd05a1;
$bgColorHoverfightMessageLeftAndRight:#ffcb05; //Det längsta variabelnamnet jag någonsin gjort....

//Box Shadow drop down lista
$BoxShadowHoverMenu: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//Box Shadow compare btn
$BoxShadowHoverComparementBtn: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//Box Shadow fightwrapper och dess barn
$BoxShadowFightElements: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

//Font Fam.
$fontfamilyPressStart: "Press Start 2P", system-ui;
$fontfamilyStandard: "Poppins";

//Borderradius
$borderRadiusSelectedPokemon: 4px;
$borderRadiusDropDown: 4px;
$borderRadiusComparementDiv: 4px;

//Fontsize &weight
$fontSizeDropDownList: 1rem;
$fontSizeHeader: 2rem;
$fontSizeComparementBtn: 1rem;
$fontSizeFightMessageLeftRight:1rem;

$fontWeightComparementBtn: 600;
$fontWeightComparementP: 600;
$fontWeightHoverComparementBtn: 700;

// --SLUT PÅ VARIABLER --

//Inuti denna finns en img som kommer att centreras
header {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  margin-bottom: 3rem;
}

body {
  background-color: $backroundColor;
  font-family: $fontfamilyStandard;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;

  //Rubrik Pokemon Application
  #rubrik {
    color: $rubrikFontColor;
    font-size: $fontSizeHeader;
    text-align: center;
    margin-bottom: 3rem;
    font-family: $fontfamilyPressStart;
  }

  //ContainerWrapper wrappar containerDropDown1 , containerDropDown2 och comparementContainer
  #containerWrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    max-width: 100%;
    max-height: 100%;
  }
}

//DropDownContainer 1 och DropDownContainer 2

#containerDropDown1,
#containerDropDown2 {
  margin: 0 10px;
  padding: 0;

  //Dropdownlistan
  #pokemon1,
  #pokemon2 {
    font-size: $fontSizeDropDownList;
    background-color: $BGDropDownMenu;
    color: white;
    padding: 16px;
    border: none;
    border-radius: $borderRadiusDropDown;
    cursor: pointer;
    border: solid 2px #ffcb05;

    &:hover {
      background-color: $BGColorHoverDropDownMenu;
      box-shadow: $BoxShadowHoverMenu;
    }
  }

 
  #selectedPokemon1,
  #selectedPokemon2 {
    background-color: #4574eb;
    border-radius: $borderRadiusSelectedPokemon;

    h2 {
      padding: 10px;
    }

    ul {
      
      padding-left: 2;
      list-style-type: none;
   
      }
    }
  }


// container för compartment med knapp samt jämfäörelsedata
#comparementContainer {
  display: flex;
  flex-direction: column;
  align-items: center;


  img {
    margin-top: 5px;
    background-color: #ffcd05a1;
    border-radius: 50%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

button {
  background-color: $bgColorCompareBtn;
  font-weight: $fontWeightComparementBtn;
  text-align: center;
  font-size: $fontSizeComparementBtn;
  cursor: pointer;
  border: none;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px;
  //När knappen klickas på /aktiveras
  &:active {
    background-color: $bgColorHoverCompareBtn;
    font-weight: $fontWeightHoverComparementBtn;
    box-shadow: $BoxShadowHoverComparementBtn;
  }
}
//För att se till så att span fortsötter att vara grön
span {
  color: rgb(10, 233, 10);
}

#comparementstats {
  border-radius: $borderRadiusComparementDiv;
  background-color: $bgColorComparementDiv;
  margin-top: 25px;

  p {
    font-weight: $fontWeightComparementP;
    margin: 10px;
  }

}

//CSS för fightWrapper och dess barn
#fightWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: left;
  margin-top: 50px;

  #fightMessageRight,
  #fightMessageLeft {
    background-color:$bgColofightMessageLeftAndRight;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left; // Ändrad från justify till left
    max-height: auto;

    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 250px;

    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    &:hover{
      background-color:$bgColorHoverfightMessageLeftAndRight;
    }
    
    p {
      word-wrap: break-word; // word-break: break-all;
    }
    #fightH1Left{
      font-family: $fontfamilyPressStart;
      font-size: $fontSizeFightMessageLeftRight;
    }
    #fightH1Right{
      font-family: $fontfamilyPressStart;
      font-size: $fontSizeFightMessageLeftRight;
    }

  }
  // Stylar scrollbar för vänster och höger divvarna i fighten 

  // Stylar scrollbar-thumb
  #fightMessageRight::-webkit-scrollbar-thumb,
  #fightMessageLeft::-webkit-scrollbar-thumb {
    background-color:#927605a1;
    border-radius: 5px; 
    &:hover{
      cursor: pointer;
    }
  }
//  Stylar scrollbar 
#fightMessageRight::-webkit-scrollbar,
#fightMessageLeft::-webkit-scrollbar {
  width: 10px; // Bredden 
  background-color:#927605a1;
}
// Stylar Stylar scrollbar-track
  #fightMessageRight::-webkit-scrollbar-track,
  #fightMessageLeft::-webkit-scrollbar-track {
    width: 10px;
  }



  #fightMessageMiddle {
    background-color:$bgColofightMessageMiddle;
    font-family: $fontfamilyPressStart;
    box-shadow: $BoxShadowFightElements;
    color: white;
    text-align: center;
    margin: 0.5rem;
    max-height: 30rem;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 250px;


    p {
      font-family: $fontfamilyStandard;
      text-align: center;
    }
    img {
      margin-top: 5px;
      background-color: #ffcd05a1;
      border-radius: 50%;
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
 
}
