header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #3c5aa6;
  font-family: "Poppins";
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
body #rubrik {
  color: #ffcb05;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
  font-family: "Press Start 2P", system-ui;
}
body #containerWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

#containerDropDown1,
#containerDropDown2 {
  max-width: 50%;
  margin: 0 10px;
  padding: 0;
}
#containerDropDown1 #pokemon1,
#containerDropDown1 #pokemon2,
#containerDropDown2 #pokemon1,
#containerDropDown2 #pokemon2 {
  font-size: 1rem;
  background-color: #4574eb;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: solid 2px #ffcb05;
}
#containerDropDown1 #pokemon1:hover,
#containerDropDown1 #pokemon2:hover,
#containerDropDown2 #pokemon1:hover,
#containerDropDown2 #pokemon2:hover {
  background-color: #356af1;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#containerDropDown1 #selectedPokemon1,
#containerDropDown1 #selectedPokemon2,
#containerDropDown2 #selectedPokemon1,
#containerDropDown2 #selectedPokemon2 {
  background-color: #4574eb;
  border-radius: 4px;
}
#containerDropDown1 #selectedPokemon1 h2,
#containerDropDown1 #selectedPokemon2 h2,
#containerDropDown2 #selectedPokemon1 h2,
#containerDropDown2 #selectedPokemon2 h2 {
  padding: 10px;
}
#containerDropDown1 #selectedPokemon1 ul,
#containerDropDown1 #selectedPokemon2 ul,
#containerDropDown2 #selectedPokemon1 ul,
#containerDropDown2 #selectedPokemon2 ul {
  padding-left: 2;
  list-style-type: none;
}

#comparementContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: rgba(255, 205, 5, 0.631372549);
  font-weight: 600;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px;
}
button:active {
  background-color: #ffcb05;
  font-weight: 700;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

span {
  color: rgb(10, 233, 10);
}

#comparementstats {
  border-radius: 4px;
  background-color: #4574eb;
  margin-top: 25px;
}
#comparementstats p {
  font-weight: 600;
  margin: 10px;
}

#fightWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

#fightMessageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ffcb05;
  border-radius: 5px;
  max-width: 50%;
  padding-left: 12px;
  padding-right: 12px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#fightMessageContainer #fightH1 {
  text-align: center;
  font-family: "Press Start 2P", system-ui;
  color: white;
}
#fightMessageContainer p {
  text-align: center;
  padding: 0;
}
#fightMessageContainer img {
  margin-top: 5px;
  background-color: #ffe065;
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */