//Variabler
//Colors
$backroundColor: #3c5aa6;
$rubrikFontColor: #ffcb05;
$BGDropDownMenu: #4574eb;
$BGColorHoverDropDownMenu: #356af1;
$bgColorCompareBtn: #ffcd05a1;
$bgColorHoverCompareBtn: #ffcb05;
$bgColorComparementDiv: #4574eb;
$bgColofightMessageContainer: #ffcb05;

//Box Shadow drop down lista
$BoxShadowHoverMenu: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//Box Shadow drop down lista
$BoxShadowHoverComparementBtn: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

//Font Fam.
$fontfamilyPressStart: "Press Start 2P", system-ui;
$fontfamilyStandard: "Poppins";

//Borderradius
$borderRadiusSelectedPokemon: 4px;
$borderRadiusDropDown: 4px;
$borderRadiusComparementDiv: 4px;

//Fontsize &weight
$fontSizeDropDownList: 1rem;
$fontSizeHeader: 2rem;
$fontSizeComparementBtn: 1rem;

$fontWeightComparementBtn: 600;
$fontWeightComparementP: 600;
$fontWeightHoverComparementBtn: 700;

// --SLUT PÅ VARIABLER --

//Inuti denna finns en img som kommer att centreras
header {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 3rem;
}

body {
  width: 100%;
  height: 100vh;
  background-color: $backroundColor;
  font-family: $fontfamilyStandard;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  //Rubrik Pokemon Application 
  #rubrik {
    color: $rubrikFontColor;
    font-size: $fontSizeHeader;
    text-align: center;
    margin-bottom: 3rem;
    font-family: $fontfamilyPressStart;
  }

  //ContainerWrapper wrappar containerDropDown1 , containerDropDown2 och comparementContainer
  #containerWrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
}

//DropDownContainer 1 och DropDownContainer 2

#containerDropDown1,
#containerDropDown2 {
  max-width: 50%;
  margin: 0 10px;
  padding:0;
  
  //Dropdownlistan
  #pokemon1,
  #pokemon2 {
    font-size: $fontSizeDropDownList;
    background-color: $BGDropDownMenu;
    color: white;
    padding: 16px;
    border: none;
    border-radius: $borderRadiusDropDown;
    cursor: pointer;
    border: solid 2px #ffcb05;
    

    &:hover {
      background-color: $BGColorHoverDropDownMenu;
      box-shadow: $BoxShadowHoverMenu;
    }
  }
  #selectedPokemon1,
  #selectedPokemon2 {
    background-color: #4574eb;
    border-radius: $borderRadiusSelectedPokemon;

    
    h2{
      padding: 10px;
    }

    ul {
      padding-left:2;
      list-style-type: none;
    }
  }
}

// container för compartment med knapp samt jämfäörelsedata
#comparementContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: $bgColorCompareBtn;
  font-weight: $fontWeightComparementBtn;
  text-align: center;
  font-size: $fontSizeComparementBtn;
  cursor: pointer;
  border: none;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px;
  //När knappen klickas på /aktiveras
  &:active {
    background-color: $bgColorHoverCompareBtn;
    font-weight: $fontWeightHoverComparementBtn;
    box-shadow: $BoxShadowHoverComparementBtn;
  }
}
//För att se till så att span fortsötter att vara grön
span {
  color: rgb(10, 233, 10);
}

#comparementstats {
  border-radius: $borderRadiusComparementDiv;
  background-color: $bgColorComparementDiv;
  margin-top: 25px;

  p {
    font-weight: $fontWeightComparementP;
    margin: 10px;
  }
}

// img {
//   // margin-bottom: 25px;
// }

#fightWrapper {

  // background-color: #5a5850;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;

  // #fightP1Container {
  //   background-color: #4574eb;
  // }
  // #fightP2Container {
  //   background-color: #eb5845;
  // }
}
// // Progressbar
// #progress-bar {
//   width: 100%;
//   background-color: #f3f3f3;
//   border-radius: 5px;
//   margin-bottom: 10px; /* Justera efter behov */
// }

// #progress-bar div {
//   height: 20px;
//   background-color: #ffcb05; /* Använd din headerFontColor eller annan passande färg */
//   width: 0; /* Startbredd, den kommer att öka när den uppdateras */
//   border-radius: 5px;
//   transition: width 0.5s ease; /* Övergångseffekt för smidig förändring */
// }


#fightMessageContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center ;
background-color: $bgColofightMessageContainer;

border-radius: 5px;
max-width: 50%;
padding-left: 12px;
padding-right: 12px;
box-shadow: $BoxShadowHoverComparementBtn;



#fightH1 {
  text-align: center;
  font-family: $fontfamilyPressStart;
  color:white ;
}
p{
  text-align: center;
  padding: 0;
}
img{
  margin-top: 5px;
  background-color: #ffe065;
  border-radius: 50%;
}
}


